body{
    background-color: #003049;
}

#board{
    display:flex;
    justify-content: center;
    margin-top:25px
}

#winning-text{
   display:block;
   justify-content: center;
   text-align: center;
   color:#003049;
   margin-top:25px;
   transition:transform 1s;
}

.winningstate{
    transform: scale(2)
}


.square{
   text-align:center;
   border:1px solid black;
   border-radius: 10px;
   background-color: #eae2b7;
   height: 100px;
   width:100px;
}


