/* all colors from coolers.co */

:root{
    --full-background-color : #344e41; 
    --smallgrid-background-color : #3a5a40;
    --square-background-color: #dad7cd;
    --player1-color: #a3b18a;
    --player2-color: #588157;

    min-width: 500px;
    min-height:500px
    
}



body{
    background-color: var(--full-background-color);
    display:flex;
    justify-content: center;
    align-items: center;
}

#texts{
    font-weight:bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    color: var(--square-background-color)
}

.fullgrid{
    display:grid;
    position:fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    grid-gap:2px;
    grid-template-columns: repeat(3,150px);
    grid-template-rows: repeat(3,150px);
    
}

.smallgrid{
    padding:10px;
    background-color: var(--smallgrid-background-color);
    border-radius:10px;
    transition:transform .3s, z-index .3s;
    display:grid;
    position:relative;
    grid-gap:14px;
    grid-template-columns: repeat(3,30px);
    grid-template-rows: repeat(3,30px);
    transform:translateY(-30%)
}

.smallgrid > div{
    border-radius:10px;
    padding:20px;
    background: var(--square-background-color);
    
}

.smallgrid.active{
    transform: scale(1.25)  translateY(-40px);
    z-index:1;
}

#theme-txt{
    position: absolute;
    top:80%;
    color: var(--square-background-color);
}

#choose-theme{
    text-align: center;
}


#themes{
    display:flex;
    justify-content: center;
    align-items:center;
}


#themes > p{
    margin:15px;
}



.player1{
    background-color : var(--player1-color) !important;
}

.player2{
    background-color : var(--player2-color) !important;
}